<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.wyd.empire.world.entity.mysql.Player" />
		<mapping class="com.wyd.empire.world.entity.mysql.Consortia" />
		<mapping class="com.wyd.empire.world.entity.mysql.ConsortiaRight" />
		<mapping class="com.wyd.empire.world.entity.mysql.OperationConfig" />
 
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerSinConsortia" />
		<mapping class="com.wyd.empire.world.entity.mysql.ShopItemsPrice" />
		<mapping class="com.wyd.empire.world.entity.mysql.ShopItem" />
		<mapping class="com.wyd.empire.world.entity.mysql.Task" />
 
		<mapping class="com.wyd.empire.world.entity.mysql.Tools" />
		<mapping class="com.wyd.empire.world.entity.mysql.RewardItems" />
		<mapping class="com.wyd.empire.world.entity.mysql.RandomName" />
		<mapping class="com.wyd.empire.world.entity.mysql.Interface" />
		<mapping class="com.wyd.empire.world.entity.mysql.Mail" />
		<mapping class="com.wyd.empire.world.entity.mysql.Friend" />
		<mapping class="com.wyd.empire.world.entity.mysql.Map" />
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerOnline" />
		<mapping class="com.wyd.empire.world.entity.mysql.PropsSkillsUsed" />
		<mapping class="com.wyd.empire.world.entity.mysql.BattleCount" />
		<mapping class="com.wyd.empire.world.entity.mysql.GoldCount" />
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerLevel" />
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerInterface" />
		<mapping class="com.wyd.empire.world.entity.mysql.TaskEveryday" />
		<mapping class="com.wyd.empire.world.entity.mysql.ShoppingEveryday" />
		<mapping class="com.wyd.empire.world.entity.mysql.Exchange" />
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerStaWeek" />
		<mapping class="com.wyd.empire.world.entity.mysql.Admin" />
		<mapping class="com.wyd.empire.world.entity.mysql.Application" />
		<mapping class="com.wyd.empire.world.entity.mysql.AdminAndApp" />
		<mapping class="com.wyd.empire.world.entity.mysql.AllowIp" />
		<mapping class="com.wyd.empire.world.entity.mysql.Recharge" />
		<mapping class="com.wyd.empire.world.entity.mysql.ChatRecord" />
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerBossmap" />
		<mapping class="com.wyd.empire.world.entity.mysql.BossmapReward" />
		<mapping class="com.wyd.empire.world.entity.mysql.Guai" />
		<mapping class="com.wyd.empire.world.entity.mysql.Tips" />
		<mapping class="com.wyd.empire.world.entity.mysql.ErrorCode" />
		<mapping class="com.wyd.empire.world.entity.mysql.Rewardrecord" />
		<mapping class="com.wyd.empire.world.entity.mysql.Successrate" />
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerBill" />
		<mapping class="com.wyd.empire.world.entity.mysql.ConsortiaSkill" />
		<mapping class="com.wyd.empire.world.entity.mysql.BuffRecord" />
		<mapping class="com.wyd.empire.world.entity.mysql.Bulletin" />
		<mapping class="com.wyd.empire.world.entity.mysql.Promotions" />
		<mapping class="com.wyd.empire.world.entity.mysql.ExchangeItem" />
		<mapping class="com.wyd.empire.world.entity.mysql.ExchangeRate" />
		<mapping class="com.wyd.empire.world.entity.mysql.WeapSkill" />
		<mapping class="com.wyd.empire.world.entity.mysql.MarryRecord" />
		<mapping class="com.wyd.empire.world.entity.mysql.Title" />
		<mapping class="com.wyd.empire.world.entity.mysql.Magnification" />
		<mapping class="com.wyd.empire.world.entity.mysql.ConsortiaContribute" />
		<mapping class="com.wyd.empire.world.entity.mysql.StrongeRecord" />
		<mapping class="com.wyd.empire.world.entity.mysql.LotteryReward" />
		<mapping class="com.wyd.empire.world.entity.mysql.RechargeReward" />
		<mapping class="com.wyd.empire.world.entity.mysql.LogRechargeReward" />
		<mapping class="com.wyd.empire.world.entity.mysql.ActivitiesAward" />
		<mapping class="com.wyd.empire.world.entity.mysql.LogActivitiesAward" />
		<mapping class="com.wyd.empire.world.entity.mysql.Push"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerFund"/>
		<mapping class="com.wyd.empire.world.entity.mysql.FundRecord"/>
		<mapping class="com.wyd.empire.world.entity.mysql.LoginReward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.SpreeGift"/>
		<mapping class="com.wyd.empire.world.entity.mysql.RankRecord"/>
		<mapping class="com.wyd.empire.world.entity.mysql.Reward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.GetItem"/>
		<mapping class="com.wyd.empire.world.entity.mysql.InviteServiceInfo"/>
		<mapping class="com.wyd.empire.world.entity.mysql.InviteReward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerGuide"/>
		<mapping class="com.wyd.empire.world.entity.mysql.Recommend"/>
		<mapping class="com.wyd.empire.world.entity.mysql.Channel"/>
		<mapping class="com.wyd.empire.world.entity.mysql.ConsortiaBattle" />
		<mapping class="com.wyd.empire.world.entity.mysql.VipReward" />
		<mapping class="com.wyd.empire.world.entity.mysql.VipRate" />
		<mapping class="com.wyd.empire.world.entity.mysql.Probability"/>
		<mapping class="com.wyd.empire.world.entity.mysql.StoneRate"/>
		<mapping class="com.wyd.empire.world.entity.mysql.StarsInfo"/>
		<mapping class="com.wyd.empire.world.entity.mysql.FullServiceReward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.BillingPoint"/>
		<mapping class="com.wyd.empire.world.entity.mysql.Order"/>
		<!-- 增加第三方渠道配置表 by:zengxc -->
		<mapping class="com.wyd.empire.world.entity.mysql.ThirdConfig"/>
		<mapping class="com.wyd.empire.world.entity.mysql.DailyActivity"/>
		
		<mapping class="com.wyd.empire.world.entity.mysql.ItemPrice"/>
		<mapping class="com.wyd.empire.world.entity.mysql.DrawReward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.DrawRate"/>
		<mapping class="com.wyd.empire.world.entity.mysql.DrawType"/>
		<mapping class="com.wyd.empire.world.entity.mysql.DrawItem"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerDraw"/>
		<!-- 宠物相关表 by:zengxc -->
		<mapping class="com.wyd.empire.world.entity.mysql.PetItem"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerPet"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PetSkill"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PetTrain"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PetCulture"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PetBar"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerPetBar"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PetRecord"/>
		
		<!-- 世界BOSS -->
		<mapping class="com.wyd.empire.world.entity.mysql.BossmapBuff"/>
		<!-- 自定义称号 -->
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerDIYTitle"/>
		
		<mapping class="com.wyd.empire.world.entity.mysql.ChallengeRecord"/>
		<mapping class="com.wyd.empire.world.entity.mysql.IntegralArea"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerTaskTitle"/>
		<!-- BM付费包奖励 -->
		<mapping class="com.wyd.empire.world.entity.mysql.PayAppReward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerPayAppReward"/>
		<!-- 2.0新增表 -->
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerInfo"/>
		<mapping class="com.wyd.empire.world.entity.mysql.ActiveReward"/>
		<mapping class="com.wyd.empire.world.entity.mysql.ButtonInfo"/>
		<!-- 2.1新增表 -->
		<mapping class="com.wyd.empire.world.entity.mysql.StrenthPercent"/>
		<mapping class="com.wyd.empire.world.entity.mysql.WeddingHall"/>
		<mapping class="com.wyd.empire.world.entity.mysql.RechargeCrit"/>
		
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerPicture"/>
		<!-- 单人副本 -->
		<mapping class="com.wyd.empire.world.entity.mysql.SingleMapDrop"/>
		<mapping class="com.wyd.empire.world.entity.mysql.PlayerSingleMap"/>
		<!-- 微博分享 -->
		<mapping class="com.wyd.empire.world.entity.mysql.Share"/>		
		<!-- 活力值价格配置 -->
		<mapping class="com.wyd.empire.world.entity.mysql.VigorPrice"/>	
		<!-- 星魂配置 -->
		<mapping class="com.wyd.empire.world.entity.mysql.StarSoul"/>
		<!-- 修炼配置 -->
		<mapping class="com.wyd.empire.world.entity.mysql.Practice"/>	
		<!-- 卡牌碎片合成 -->
		<mapping class="com.wyd.empire.world.entity.mysql.DebirsMerge"/>
		<!-- 卡牌熔炼 -->
		<mapping class="com.wyd.empire.world.entity.mysql.CardMelt"/>
		<!-- 套卡属性 -->
		<mapping class="com.wyd.empire.world.entity.mysql.CardGroup"/>
		<!-- 地图特殊事件 -->
		<mapping class="com.wyd.empire.world.entity.mysql.MapEvent"/>
		<!-- 卡牌兑换 -->
		<mapping class="com.wyd.empire.world.entity.mysql.CardExchange"/>
		<!-- 本地推送列表 -->
		<mapping class="com.wyd.empire.world.entity.mysql.LocalPushList"/>
		<!-- 爱心许愿物品列表 -->
		<mapping class="com.wyd.empire.world.entity.mysql.WishItem"/>
		<!-- 月卡列表 -->
		<mapping class="com.wyd.empire.world.entity.mysql.MonthCard"/>		
		<mapping class="com.wyd.empire.world.entity.mysql.WishItem"/>
		<!-- VIP等级限购物品配置 -->
		<mapping class="com.wyd.empire.world.entity.mysql.LimitedPrice"/>
		<!-- 分包下载 -->
		<mapping class="com.wyd.empire.world.entity.mysql.DownloadReward"/>				
	</session-factory>
</hibernate-configuration>
